.__item {
	width: 30px;
	height: 30px;
	margin: 5px;
	@include stdBlock();
	cursor: pointer;

	&.active {
		background: $greyLight;
	}

	.__item__icon {
		width: 30px;
		height: 30px;
		position: relative;

		.__item__countDiv {
			position: absolute;
			right: 2px;
			bottom: 0px;
		}

		.__item__icon__imgDiv {
			position: absolute;
			top: -3px;
			right: 0;
		}
	}
}

.itemSlime {
	transform: scale(0.9) rotate(30deg);
	@include item__slime();
}