.header {
	height: 80px;
	width: 100%;
	display: flex;
	position: relative;

	.header__icon {
		width: 70px;
		height: 70px;
		@include stdBlock();
		padding: 5px;
		margin: 5px;

		.Header__icon-imgDiv {
			@include intarface__mageIcon();
		}
	}

	.header__status {
		width: 240px;
		height: 70px;
		margin: 5px 0;
		@include stdBlock();
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.header__status-line {
			display: flex;
			align-items: center;
			position: relative;
			justify-content: center;


			.status-line__container {
				width: 200px;
				height: 20px;
				@include stdBlock();
				margin: 5px;


				div {
					height: 18px;
					border-radius: 5px;
					margin-left: -1px;
					transition-property: width;
					transition-duration: 100ms;

					&.mp {
						background: $blue;
					}

					&.hp {
						background: $red;
					}
				}
			}

			.status-line__maxCur {
				position: absolute;
			}
		}
	}

	.header__items-wrapper {
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;

		.header__items {
			.header__items-row {
				display: flex;
			}
		}

		.header__backpack {
			@include stdBlock();
			height: 70px;
			width: 70px;
			margin: 5px;
			cursor: pointer;

			&.active {
				background-color: $greyLight;
			}

			.header__backpack-divImg {
				@include intarface__backpack();
				transform: scale(0.8);
			}
		}
	}
}