.world {
	padding: 100px;
	flex-direction: column;
	background: #000;
	background-image: url('/resources/img/worldTextures/dark-bg.jpg');

	.row {
		display: flex;

		.standartPlace {
			width: 30px;
			height: 30px;
			position: relative;

			div {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 2;

				&.magePlayer {
					background-image: url(/resources/img/iconCreature/player/mage.svg);
					background-size: 195%;
					background-position: 10px 2px;
					background-repeat: no-repeat;
				}

				&.slimeEnemy {
					background-image: url(/resources/img/iconCreature/enemy/slime.svg);
					background-size: 200%;
					background-position: -2px 8px;
					background-repeat: no-repeat;
				}

				&.weapon {
					background: url('/resources/img/weaponTextures/stackWeaponBall.svg');
					width: 30px;
					height: 30px;
					background-size: 250%;
					background-position: 4px 5px;
					background-repeat: no-repeat;
				}
			}
		}

		.border {
			background-image: url(/resources/img/worldTextures/border.svg);
			background-size: 200%;
			background-position: 5px 4px;
			background-repeat: no-repeat;
			background-color: black;
		}

		.dirt {
			background-image: url(/resources/img/worldTextures/road.svg);
			background-size: 200%;
			background-repeat: no-repeat;
		}

		.chest {
			background: #74FD59;
		}
	}
}

.interface {
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.header {
		height: 100px;
		width: 100%;
		display: flex;

		.header__icon {
			width: 100px;
			height: 100px;
		}

		.header__status {
			width: 240px;
			height: 100px;

			.header__status-line {
				display: flex;
				align-items: center;
				position: relative;
				justify-content: center;

				.status-line__container {
					width: 200px;
					height: 20px;
					border: 1px solid #85309A;
					margin: 5px;
					border-radius: 5px;

					div {
						height: 18px;
						border-radius: 5px;
						margin-left: -1px;
						transition-property: width;
						transition-duration: 100ms;

						&.mp {
							background: #44E1FD;
						}

						&.hp {
							background: #FF3232;
						}
					}
				}

				.status-line__maxCur {
					position: absolute;
				}
			}
		}

		.header__skils {
			display: flex;

			div {
				border: 1px solid #85309A;
				border-radius: 5px;
				width: 100px;
				height: 100px;
				margin: 0 10px;
			}
		}
	}

	.footer {
		.footer__items {
			display: flex;

			div {
				border: 1px solid #85309A;
				border-radius: 5px;
				width: 100px;
				height: 100px;
				margin: 0 10px;
			}
		}
	}
}