* {
  padding: 0;
  margin: 0; }

html, body {
  width: 100%; }

html,
body,
.wrapper,
.world {
  display: flex;
  background: #000; }

.world {
  flex-direction: column;
  background: #000; }
  .world .row {
    display: flex; }
    .world .row .standartPlace {
      width: 50px;
      height: 50px;
      position: relative; }
      .world .row .standartPlace div {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2; }
        .world .row .standartPlace div.magePlayer {
          background-image: url(../img/iconCreature/player/mage.svg);
          background-size: 195%;
          background-position: 10px 2px;
          background-repeat: no-repeat; }
        .world .row .standartPlace div.slimeEnemy {
          background-image: url(../img/iconCreature/enemy/slime.svg);
          background-size: 200%;
          background-position: -2px 8px;
          background-repeat: no-repeat; }
    .world .row .border {
      background-image: url(../img/worldTextures/border.svg);
      background-size: 200%;
      background-position: 8px 5px;
      background-repeat: no-repeat;
      background-color: black; }
    .world .row .dirt {
      background-image: url(../img/worldTextures/road.svg);
      background-size: 200%;
      background-repeat: no-repeat; }
    .world .row .chest {
      background: #74FD59; }
