.world {
	flex-direction: column;
	background: #000;

	.row {
		display: flex;

		.standartPlace {
			width: 50px;
			height: 50px;
			position: relative;

			div {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 2;

				&.magePlayer {
					background-image: url(../img/iconCreature/player/mage.svg);
					background-size: 195%;
					background-position: 10px 2px;
					background-repeat: no-repeat;
				}

				&.slimeEnemy {
					background-image: url(../img/iconCreature/enemy/slime.svg);
					background-size: 200%;
					background-position: -2px 8px;
					background-repeat: no-repeat;
				}
			}
		}

		.border {
			background-image: url(../img/worldTextures/border.svg);
			background-size: 200%;
			background-position: 8px 5px;
			background-repeat: no-repeat;
			background-color: black;
		}

		.dirt {
			background-image: url(../img/worldTextures/road.svg);
			background-size: 200%;
			background-repeat: no-repeat;
		}

		.chest {
			background: #74FD59;
		}
	}
}

.weapon {
	.stackWeaponBall {
		position: absolute;
		width: 50px;
		height: 50px;
		background: url('../img/weaponTextures/stackWeaponBall.svg');
		background-size: 250%;
		background-position: 7px 7px;
		background-repeat: no-repeat;
		z-index: 10;
		transition: top 2s, left 2s;
	}
}