.world {
	flex-direction: column;
	background: #000;

	.row {
		display: flex;

		.standartPlace {
			width: 30px !important;
			height: 30px !important;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			div {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 2;

				&.magePlayer {
					@include player__unit();
					z-index: 5;
				}

				&.slimeEnemy {
					@include enemy__slime();
					z-index: 5;
				}

				&.weapon {
					width: 25px;
					height: 25px;
					background: #2E0D0D;
					border-radius: 100%;
				}

			}
		}

		.border {
			@include border__stdBorder();
		}

		.dirt {
			@include dirt__desert();
		}
	}
}