.world {
	flex-direction: column;
	background: #000;
	background-image: url('/resources/img/worldTextures/dark-bg.jpg');

	.row {
		display: flex;

		.standartPlace {
			width: 30px;
			height: 30px;
			position: relative;

			div {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 2;

				&.magePlayer {
					background-image: url(/resources/img/iconCreature/player/mage.png);
					background-size: 70%;
					background-position: 5px 1px;
					background-repeat: no-repeat;
					z-index: 5;
				}

				&.slimeEnemy {
					background-image: url(/resources/img/iconCreature/enemy/slime.svg);
					background-size: 200%;
					background-position: -2px 8px;
					background-repeat: no-repeat;
					z-index: 5;
				}

				&.weapon {
					background: url('/resources/img/weaponTextures/stackWeaponBall.svg');
					width: 30px;
					height: 30px;
					background-size: 250%;
					background-position: 4px 5px;
					background-repeat: no-repeat;
				}

				&.itemSlime {
					background: url('/resources/img/items/itemSlime.png');
					width: 30px;
					height: 30px;
					background-size: 100%;
					background-position: 2px 2px;
					background-repeat: no-repeat;
					transform: rotate(30deg);
				}
			}
		}

		.border {
			background-image: url(/resources/img/worldTextures/border.svg);
			background-size: 200%;
			background-position: 5px 4px;
			background-repeat: no-repeat;
			background-color: black;
		}

		.dirt {
			background-image: url(/resources/img/worldTextures/road.svg);
			background-size: 200%;
			background-repeat: no-repeat;
		}

		.chest {
			background: #74FD59;
		}
	}
}